@import url('https://fonts.googleapis.com/css2?family=Fredericka+the+Great&display=swap');


body {
  font-family: 'Fredericka the Great', cursive;
  background-color: pink;
  background-image: url('../assets/watercolor.png');
}

h1 {
  font-size: 75px;
  text-align: center;
}

.main-container {
  background-color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.header-container {
  background-color: pink;
  display: flex;
  flex-direction: column;
}

.contacts-wrapper {
  display: flex;
}

.tech-container {
  background-color: yellow;
  display: flex;
  flex-direction: column;
}

.tech-wrapper {
  display: flex;
}

.my-projects-container {
  background-color: blue;
  display: flex;
  flex-direction: column;
}

.projects-container {
  background-color: green;
  display: flex;
}

.project-wrapper {
  display: flex;
  flex-direction: column;
}

.project-image {
  width: 200px;
}

.my-interests-container {
  display: flex;
  flex-direction: column;
}

.interests-container {
  display: flex;
}

.interest-wrapper {
  display: flex;
  flex-direction: column;
}