@import url('https://fonts.googleapis.com/css2?family=Fredericka+the+Great&display=swap');


body {
  font-family: 'Fredericka the Great', cursive;
  background-color: pink;
  background-image: url('./assets/watercolor.png');
}

h1 {
  font-size: 75px;
  text-align: center;
}
